@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@font-face {
  font-family: mfont;
  src: url(Font/DINPro.otf) format("opentype");
}
/* Animacion de Botones */
.movimg {
  transition: all 0.6s;
}
.movimg:hover {
  transform: scale(1.1);
}

/* Animaciones Fotos */
.movimg2 {
  transition: all 1s;
}
.movimg2:hover {
  transform: scale(1.1);
}

/* Colores */
.detalles, .inicioTitulo, .divFuncionarios, .detallesgrid {
  display: flex;
  justify-content: center;
}

.seccionFunciones {
  display: flex;
  justify-content: space-evenly;
}

.m_font {
  font-family: mfont;
}

/* Gobierno */
.funcionarioTamaño {
  height: 50vh;
}

.funcionarioFont {
  font-family: font;
  font-size: 3rem;
  padding-top: 8rem;
}

.detallesgrid {
  font-size: 1.5em;
  font-family: font;
}

.divFuncionarios {
  padding-top: 6rem;
}

.imgfuncionarios {
  width: 10em;
  height: 10em;
}

.funcionarioBorde {
  border: 0.1em double grey;
}

/* Laciudad */
.m_tamañoCarrusel {
  width: 30rem;
  margin: auto 5rem;
}

.ciudadTexto {
  font-size: 1.4rem;
  font-family: mfont;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0rem 5rem;
}

.ciudadCucu {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.m_tamaño {
  margin-bottom: 5rem;
}

.ciudadIglesia {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

/* Noticias */
/* Contacto */
.m_centerformH {
  width: 25rem;
}

/* Index */
.inicioTitulo {
  font-size: 3em;
  margin: 1em 0em 1em 0em;
  font-family: font;
}

.inicioFoto {
  width: 40rem;
  height: 20rem;
}

.seccionFunciones {
  flex-wrap: wrap;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

.informacionImportante {
  margin-bottom: 2rem;
}

.detalles {
  font-size: 3em;
  font-family: "Oxygen", sans-serif;
  color: tomato;
}

.seccionDos {
  width: 360px;
  height: 150px;
}

.pmFotos {
  width: 38rem;
  height: 24rem;
  margin-top: 8rem;
}

.textoSC {
  margin-top: 8rem;
}

.carruselSalud {
  width: 50rem;
  margin-bottom: 3rem;
}

.saludTexto {
  font-size: 1.4rem;
  font-family: mfont;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0rem 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.saludNoticias {
  margin: 5rem;
}

.saludNoticias2 {
  margin: 3rem;
}

.carruselCovid {
  width: 35rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.acordeonCovid {
  margin-bottom: 4rem;
}

.acordeonCovidT {
  width: 50rem;
}

.textoCovid {
  font-size: 1.2rem;
  font-family: mfont;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0rem 5rem;
}

.turnoVacuna {
  margin-bottom: 3rem;
}

.turnoVacunaT {
  width: 58rem;
}

/* Responsive Moto G4  */
@media (max-width: 400px) {
  .seccionFunciones-resp {
    margin-bottom: 1rem;
  }

  .inicioFoto {
    width: 260px;
    height: 130px;
    margin-bottom: 1rem;
  }

  .inicioTitulo {
    font-size: 1em;
  }

  .seccionDos {
    margin: 10px 2px;
    padding-left: 1rem;
  }

  .telefonos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ciudadCucu {
    width: 15rem;
    height: 15rem;
    margin-bottom: 25px;
  }

  .ciudadTexto {
    font-size: 1.2rem;
  }

  .m_tamañoCarrusel {
    width: 15rem;
  }

  .ciudadIglesia {
    width: 20rem;
    height: 20rem;
  }

  .ciudadTexto-mov {
    margin-bottom: 1.5rem;
  }

  .imgfuncionarios {
    width: 5em;
    height: 5em;
  }

  .funcionarioFont {
    font-family: font;
    font-size: 1rem;
    text-decoration: underline;
    padding-top: 1rem;
  }

  .detallesgrid {
    font-size: 1em;
    font-family: font;
  }

  .divFuncionarios {
    padding-top: 1rem;
  }

  .pmFotos {
    width: 20rem;
    height: 13rem;
  }

  .textoSC {
    margin-top: 0;
    font-size: 0.9rem;
  }

  .acordeonCovidT {
    width: 20rem;
  }

  .turnoVacunaT {
    width: 22.5rem;
  }

  .pmtexto {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .pmFotos iframe {
    width: 20rem;
  }

  .saludTexto {
    margin: 1rem 1rem;
    font-size: 1rem;
    padding: 0;
  }

  .saludNoticias {
    margin: 0rem;
  }

  .saludNoticias2 {
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .m_centerformH {
    width: 15rem;
  }
}
@media (max-width: 600px) and (min-width: 401px) {
  .seccionFunciones-resp {
    margin-bottom: 1rem;
  }

  .inicioFoto {
    width: 260px;
    height: 130px;
    margin-bottom: 1rem;
  }

  .inicioTitulo {
    font-size: 1em;
  }

  .seccionDos {
    margin: 10px 2px;
    padding-left: 1rem;
  }

  .telefonos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ciudadCucu {
    width: 15rem;
    height: 15rem;
    margin-bottom: 25px;
  }

  .ciudadTexto {
    font-size: 1.2rem;
  }

  .m_tamañoCarrusel {
    width: 15rem;
  }

  .ciudadIglesia {
    width: 20rem;
    height: 20rem;
  }

  .ciudadTexto-mov {
    margin-bottom: 1.5rem;
  }

  .mNoticias {
    margin-left: 0rem;
  }

  .imgfuncionarios {
    width: 5em;
    height: 5em;
  }

  .funcionarioFont {
    font-family: font;
    font-size: 1rem;
    text-decoration: underline;
    padding-top: 1rem;
  }

  .detallesgrid {
    font-size: 1em;
    font-family: font;
  }

  .divFuncionarios {
    padding-top: 1rem;
  }

  .pmFotos {
    width: 20rem;
    height: 13rem;
    margin-bottom: 2rem;
  }

  .textoSC {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .acordeonCovidT {
    width: 20rem;
  }

  .turnoVacunaT {
    width: 25rem;
  }

  .pmtexto {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .pmFotos iframe {
    width: 20rem;
  }

  .saludTexto {
    margin: 1rem 1rem;
    font-size: 1rem;
    padding: 0;
  }

  .saludNoticias {
    margin: 0rem;
  }

  .saludNoticias2 {
    margin: 0rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
}
/* Responsive Ipad Tablet */
@media (max-width: 800px) and (min-width: 601px) {
  .inicioFoto {
    width: 660px;
    height: 330px;
    margin-bottom: 1rem;
  }

  .seccionFunciones-resp {
    margin-bottom: 1rem;
  }

  .inicioTitulo {
    font-size: 1em;
  }

  .menuUno {
    font-size: 1em;
    width: 100px;
    height: 40px;
  }

  .seccionDos {
    margin: 10px 0px;
  }

  .telefonos {
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
  }

  .ciudadCucu {
    width: 25rem;
    height: 25rem;
    margin-bottom: 25px;
  }

  .ciudadTexto {
    font-size: 2rem;
  }

  .m_tamañoCarrusel {
    width: 40rem;
  }

  .noticias {
    margin-left: 150px;
  }

  .pmFotos {
    width: 38rem;
    height: 25rem;
    margin-bottom: 2rem;
  }

  .textoSC {
    margin-top: 2rem;
    font-size: 1.7rem;
  }

  .acordeonCovidT {
    width: 40rem;
  }

  .turnoVacunaT {
    width: 42rem;
  }

  .pmtexto {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .pmFotos iframe {
    width: 40rem;
  }

  .saludTexto {
    margin: 2rem 1rem;
    font-size: 1.8rem;
    padding: 0;
  }

  .saludNoticias {
    margin: 3rem;
  }

  .saludNoticias2 {
    margin: 0rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff4f;
}

.fondo2 {
  background-color: #e9e9e9;
}

/*# sourceMappingURL=style.css.map */
