/* Index */
.inicioTitulo {
    @extend %center;
    font-size: 3em;
    margin: 1em 0em 1em 0em;
    font-family: font;
}

.inicioFoto {
    width: 40rem;
    height: 20rem;
    margin-left: 7rem;
}

.seccionFunciones {
    @extend %evenly;
    flex-wrap: wrap;
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.informacionImportante {
    margin-bottom: 2rem;
}

.detalles {
    @extend %center;
    font-size: 3em;
    font-family: 'Oxygen', sans-serif;
    color: tomato;
}

.seccionDos {
    width: 360px;
    height: 150px;
}


