.pmFotos {
    width: 38rem;
    height: 24rem;
    margin-top: 8rem;
}

.textoSC {
    margin-top: 8rem;
}

.carruselSalud {
    width: 50rem;
    margin-bottom: 3rem;
}

.carruselCovid {
    width: 35rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.acordeonCovid {
    margin-bottom: 4rem;
}

.acordeonCovidT{  
    width: 50rem;
}

.textoCovid {
    font-size: 1.2rem;
    font-family: mfont;
    @include centrarV (auto, auto);
    padding: 0rem 5rem;
}

.turnoVacuna {
margin-bottom: 3rem;
}
.turnoVacunaT {
    width: 58rem;
}