/* Responsive Moto G4  */
@media(max-width:400px) {

    // index

    .seccionFunciones-resp {
        margin-bottom: 1rem;
    }

    .inicioFoto {
        width: 260px;
        height: 130px;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

    .inicioTitulo {
        font-size: 1em;
    }

    .seccionDos {
        margin: 10px 2px;
        padding-left: 1rem;

    }

    .telefonos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    // ciudad
    .ciudadCucu {
        width: 15rem;
        height: 15rem;
        margin-bottom: 25px;
    }

    .ciudadTexto {
        font-size: 1.2rem;
    }

    .m_tamañoCarrusel {
        width: 15rem;
    }

    .ciudadIglesia {
        width: 20rem;
        height: 20rem;
    }

    .ciudadTexto-mov {
        margin-bottom: 1.5rem;
    }




    // Funcionarios 
    .imgfuncionarios {
        width: 5em;
        height: 5em;
    }

    .funcionarioFont {
        font-family: font;
        font-size: 1rem;
        text-decoration: underline;
        padding-top: 1rem;
    }

    .detallesgrid {
        @extend %center;
        font-size: 1em;
        font-family: font;
    }

    .divFuncionarios {
        padding-top: 1rem;
    }


    // Seguridad Ciudadana 
    .pmFotos {
        width: 20rem;
        height: 13rem;

    }

    .textoSC {
        margin-top: 0;
        font-size: 0.9rem;
    }

    // Covid 
    .acordeonCovidT {
        width: 20rem;
    }

    .turnoVacunaT {
        width: 22.5rem;
    }

    // Premoldeados

    .pmtexto {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .pmFotos iframe {
        width: 20rem;
    }

    // Saludable

    .saludTexto {
        margin: 1rem 1rem;
        font-size: 1rem;
        padding: 0;
    }

    .saludNoticias {
        margin: 0rem;
    }
    .saludNoticias2{
      margin: 0rem;  
      margin-bottom: 2rem;
    }


}

/* Responsive Ipad Tablet */

@media(max-width:800px) and (min-width:401px) {


    // Index
    .inicioFoto {
        width: 660px;
        height: 330px;
    }

    .inicioTitulo {
        font-size: 1em;
    }

    .menuUno {
        font-size: 1em;
        width: 100px;
        height: 40px;
    }

    .seccionDos {
        margin: 10px 0px;
    }


    .telefonos {
        display: flex;
        padding-left: 40px;

        flex-wrap: wrap;
    }


    // La ciudad
    .ciudadCucu {
        width: 25rem;
        height: 25rem;
        margin-bottom: 25px;
    }

    .ciudadTexto {
        font-size: 2rem;
    }

    .m_tamañoCarrusel {
        width: 40rem;
    }

    .noticias {
        margin-left: 150px;
    }
}